Converter-Solution/resources/AllElements.xsd

<?xml version="1.0" encoding="utf-8"?>
<c:schema xmlns:i="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:z="http://schemas.microsoft.com/2003/10/Serialization/"
  xmlns:a="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase"
  xmlns:b="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:c="http://www.w3.org/2001/XMLSchema"
  attributeFormDefault="unqualified" elementFormDefault="qualified"
  targetNamespace="http://schemas.datacontract.org/2004/07/ThreatModeling.Model">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts"/>
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase"/>
  <xs:import/>
  <c:include schemaLocation="AllElements2.xsd"/>
  <c:include schemaLocation="AllElements3.xsd"/>
  <c:include schemaLocation="AllElements4.xsd"/>
  <c:include schemaLocation="AllElements5.xsd"/>
  <c:include schemaLocation="AllElements6.xsd"/>
  <c:include schemaLocation="AllElements1.xsd"/>
  <xs:element name="ThreatModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DrawingSurfaceList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DrawingSurfaceModel">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element
                      xmlns:q1="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts"
                      ref="q1:GenericTypeId"/>
                    <xs:element
                      xmlns:q2="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts"
                      ref="q2:Guid"/>
                    <xs:element
                      xmlns:q3="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts"
                      ref="q3:Properties"/>
                    <xs:element
                      xmlns:q4="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts"
                      ref="q4:TypeId"/>
                    <xs:element name="Borders">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" ref="b:KeyValueOfguidanyType"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Header" type="xs:string"/>
                    <xs:element name="Lines">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" ref="b:KeyValueOfguidanyType"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Zoom" type="xs:unsignedByte"/>
                  </xs:sequence>
                  <xs:attribute ref="z:Id" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MetaInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Assumptions"/>
              <xs:element name="Contributors"/>
              <xs:element name="ExternalDependencies"/>
              <xs:element name="HighLevelSystemDescription"/>
              <xs:element name="Owner"/>
              <xs:element name="Reviewer"/>
              <xs:element name="ThreatModelName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Notes"/>
        <xs:element name="ThreatInstances">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" ref="b:KeyValueOfstringThreatpc_P0_PhOB"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ThreatGenerationEnabled" type="xs:boolean"/>
        <xs:element name="Validations">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" ref="a:Validation"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Version" type="xs:decimal"/>
        <xs:element name="KnowledgeBase">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="a:GenericElements"/>
              <xs:element ref="a:Manifest"/>
              <xs:element ref="a:StandardElements"/>
              <xs:element ref="a:ThreatCategories"/>
              <xs:element ref="a:ThreatMetaData"/>
              <xs:element ref="a:ThreatTypes"/>
            </xs:sequence>
            <xs:attribute ref="z:Id" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Profile">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="PromptedKb"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPriorityUsed" type="xs:boolean"/>
  <xs:element name="IsStatusUsed" type="xs:boolean"/>
  <xs:element name="PropertiesMetaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ThreatMetaDatum">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string"/>
              <xs:element name="Label" type="xs:string"/>
              <xs:element name="HideFromUI" type="xs:boolean"/>
              <xs:element name="Values" nillable="true">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" ref="b:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Id" nillable="true" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThreatMetaDatum">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name" type="xs:string"/>
        <xs:element name="Label" type="xs:string"/>
        <xs:element name="HideFromUI" type="xs:boolean"/>
        <xs:element name="Values">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="b:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</c:schema>
