Converter-Solution/resources/AllElements3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts" />
  <xs:element name="anyType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q1:DisplayName" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q2:Name" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q3:Value" />
        <xs:element minOccurs="0" xmlns:q4="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q4:SelectedIndex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeyValueOfguidanyType">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Key" type="xs:string" />
        <xs:element name="Value">
          <xs:complexType>
            <xs:sequence>
              <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts" ref="q5:GenericTypeId" />
              <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts" ref="q6:Guid" />
              <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts" ref="q7:Properties" />
              <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts" ref="q8:TypeId" />
              <xs:element minOccurs="0" xmlns:q9="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts" ref="q9:HandleX" />
              <xs:element minOccurs="0" xmlns:q10="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts" ref="q10:HandleY" />
              <xs:element minOccurs="0" xmlns:q11="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts" ref="q11:PortSource" />
              <xs:element minOccurs="0" xmlns:q12="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts" ref="q12:PortTarget" />
              <xs:element minOccurs="0" xmlns:q13="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts" ref="q13:SourceGuid" />
              <xs:element minOccurs="0" xmlns:q14="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts" ref="q14:SourceX" />
              <xs:element minOccurs="0" xmlns:q15="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts" ref="q15:SourceY" />
              <xs:element minOccurs="0" xmlns:q16="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts" ref="q16:TargetGuid" />
              <xs:element minOccurs="0" xmlns:q17="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts" ref="q17:TargetX" />
              <xs:element minOccurs="0" xmlns:q18="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts" ref="q18:TargetY" />
              <xs:element minOccurs="0" xmlns:q19="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts" ref="q19:Height" />
              <xs:element minOccurs="0" xmlns:q20="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts" ref="q20:Left" />
              <xs:element minOccurs="0" xmlns:q21="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts" ref="q21:StrokeDashArray" />
              <xs:element minOccurs="0" xmlns:q22="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts" ref="q22:StrokeThickness" />
              <xs:element minOccurs="0" xmlns:q23="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts" ref="q23:Top" />
              <xs:element minOccurs="0" xmlns:q24="http://schemas.datacontract.org/2004/07/ThreatModeling.Model.Abstracts" ref="q24:Width" />
            </xs:sequence>
            <xs:attribute xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" ref="q25:Id" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="string" nillable="true" type="xs:string" />
  <xs:element name="KeyValueOfstringThreatpc_P0_PhOB">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Key" type="xs:string" />
        <xs:element name="Value">
          <xs:complexType>
            <xs:sequence>
              <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q26:ChangedBy" />
              <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q27:DrawingSurfaceGuid" />
              <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q28:FlowGuid" />
              <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q29:Id" />
              <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q30:InteractionKey" />
              <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q31:InteractionString" />
              <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q32:ModifiedAt" />
              <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q33:Priority" />
              <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q34:Properties" />
              <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q35:SourceGuid" />
              <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q36:State" />
              <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q37:StateInformation" />
              <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q38:TargetGuid" />
              <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q39:Title" />
              <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q40:TypeId" />
              <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q41:Upgraded" />
              <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q42:UserThreatCategory" />
              <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q43:UserThreatDescription" />
              <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q44:UserThreatShortDescription" />
              <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/ThreatModeling.KnowledgeBase" ref="q45:Wide" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeyValueOfstringstring">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Key" type="xs:string" />
        <xs:element name="Value" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guid" type="xs:string" />
</xs:schema>